.mlmodule {
    padding-top: 4rem;
    padding-bottom: 3rem;
}

.mlmodule__container {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

/* direct divs inside the container */
.mlmodule__container > div {
    background: var(--color-bg-variant);
    padding: 2.4rem 1rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    background: transparent;
    border-color: var(--color-primary-variant);
}

.mlmodule__container > div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.mlmodule__container > div h3 {
    text-align: center;
    margin-bottom: 1rem;
    color: var(--color-primary);
}

.mlmodule__container>div a {
    text-decoration: underline;
}

.mlmodule__content {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    row-gap: 1rem;
}

.mlmodule__details {
    display: flex;
    gap: 1rem;
}

.mlmodule__details-icon {
    margin-top: 6px;
    color: var(--color-primary);
}


/* tablets media query */
@media screen and (max-width: 1024px) {
    .mlmodule__container {
        grid-template-columns: 1fr;
    }

    .mlmodule__container > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .mlmodule__content {
        padding: 1rem;
    }
}

/* phones media query */
@media screen and (max-width: 600px) {
    .mlmodule__container {
        gap: 1rem;
    }

    .mlmodule__container > div {
        width: 100%;
        padding: 2rem 1rem;
    }
}