:root {
    --color-about-background: #67BDC3;
    --color-about-header: #03393d;
    --color-about-content-text: #03393d;
    --color-about-tile_color: #000000;
}

.about {
    padding-top: 2rem;
    padding-bottom: 1rem;
    background: var(--color-about-background);
}

.about__header {
    background-color: transparent;
    color: var(--color-about-header);
    font-size: 1.8rem;
}

.about__subheader {
    background-color: transparent;
    color: var(--color-about-header);
    font-size: 0.8rem;
}

.about__container {
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 10%;
    color: var(--color-about-content-text);
    /* grid-template-columns: repeat(1, 1fr); */
}

.about__me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    /* background: linear-gradient(45deg, transparent, var(--color-primary), transparent);
    background: #343F71; */
    display: grid;
    place-items: center;
    margin-top: 2.5rem;
}

.about__me-image {
    border-radius: 2rem;
    overflow: hidden;
    /* transform: rotate(-10deg); */
    transition: var(--transition);
    margin-top: 10rem;
    margin-left: 5px;
}

.me__image {
    width: 25rem;
    height: 25rem;
    object-fit: cover;
}

.about__me-image:hover {
    transform: rotate(0);
}

.about__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.about__card {
    /* background: var(--color-bg-variant);
    background: #343F71; */
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
    background: transparent;
    border-color: var(--color-about-tile_color);
}

.about__card:hover {
    background: transparent;
    border-color: var(--color-white);
    cursor: default;
}

.about__icon {
    color: var(--color-about-content-text);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.about__card h5 {
    font-size: 0.95rem;
}

.about__card small {
    font-size: 0.7rem;
    color: var(--color-about-content-text);
}

.about__content p {
    margin: 2rem 0 2.6rem;
    color: var(--color-about-content-text);
}

/* tablets media query */
@media screen and (max-width: 1024px) {
    .about__container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about__me {
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .about__content p {
        margin: 1rem 0 1.5rem;

    }
}

/* phones media query */
@media screen and (max-width: 600px) {
    .about__me {
        width: 65%;
        margin: 0 auto 3rem;
    }

    .about__cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .about__content {
        text-align: center;
    }

    .about__content p {
        margin: 1.5rem 0;
    }

    .me__image {
        width: 17rem;
        height: 17rem;
        object-fit: cover;
    }

    .about__me-image {
        border-radius: 2rem;
        overflow: hidden;
        transition: var(--transition);
        margin-top: 2rem;
    }
}