header {
    height: 30vh;
    padding-top: 1rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* CTA */
.cta {
    margin-top: 1.9rem;
    display: flex;
    gap: 0.8rem;
    justify-content: center;
}

.cta__icons {
    margin-top: 1.2rem;
    display: none;
    gap: 0.5rem;
    justify-content: center;
}

.cta__icon {
    width: 20px;
    height: 20px;
}

/* socials */
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    right: 0;
    top: 1rem;
}

.header__socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

.header__socials a {
    color: var(--color-white);
}

.header__socials a:hover {
    color: var(--color-btn);
}

/* scroll down */
.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* tablets media query */
@media screen and (max-width: 1024px) {
    header {
        height: 30vh;
    }

    .cta {
        display: flex;
    }

    .cta__icons {
        display: none;
    }
}

/* phones media query */
@media screen and (max-width: 600px) {
    header {
        height: 30vh;
    }

    .header__socials,
    .scroll__down {
        display: none;
    }

    .cta {
        display: none;
    }

    .cta__icons {
        display: flex;
    }
}