:root {
    --color-nlp-background: #93a2f1;
    --color-nlp-header: #030e42;
    --color-nlp-content-text: #030e42;
    --color-nlp-tile_color: #000000;
}

.nlp {
    padding-top: 2rem;
    padding-bottom: 3rem;
    background: var(--color-nlp-background);
}

.nlp__container {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    color: var(--color-nlp-content-text);
}

.nlp__header {
    background-color: transparent;
    color: var(--color-nlp-header);
    font-size: 1.8rem;
}

.nlp__subheader {
    background-color: transparent;
    color: var(--color-nlp-header);
    font-size: 0.8rem;
}

/* direct divs inside the container */
.nlp__container > div {
    /* background: var(--color-bg-variant); */
    padding: 2.4rem 1rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    background: transparent;
    border-color: var(--color-nlp-tile_color);
}

.nlp__container > div:hover {
    background: transparent;
    border-color: var(--color-white);
    cursor: default;
}

.nlp__container > div h3 {
    text-align: center;
    margin-bottom: 1rem;
    color: var(--color-nlp-header);
}

.nlp__container>div a {
    text-decoration: none;
}

.nlp__content {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    row-gap: 1rem;
}

.nlp__details {
    display: flex;
    gap: 1rem;
}

.nlp__details-icon {
    margin-top: 6px;
    color: var(--color-nlp-header);
    font-size: 1.2rem;
}


/* tablets media query */
@media screen and (max-width: 1024px) {
    .nlp__container {
        grid-template-columns: 1fr;
    }

    .nlp__container > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .nlp__content {
        padding: 1rem;
    }
}

/* phones media query */
@media screen and (max-width: 600px) {
    .nlp__container {
        gap: 1rem;
    }

    .nlp__container > div {
        width: 100%;
        padding: 2rem 1rem;
    }
}